.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #2977c4;
  }

  .navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .navbar-nav .nav-item {
    padding-left: 15px;
  }

  .navbar-nav .nav-link {
    color: white;
  }

  .navbar-nav .nav-link:hover {
    color: #ffc107;
  }

  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .oizinho{
    padding: 20px;
    font-weight: bold;
  }
  .coloridinho {
    color: #FF5733;
  }
  