
    
    <!-- Card para o conteúdo -->
     <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h4>Lista de Usuários</h4>
      </div>
      <div class="card-body">
        <!-- Título -->

        <!-- Botão para adicionar usuário no canto direito -->
        <div class="text-end">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAdicionarUser" onclick="IncluirUser()">
            Adicionar
          </button>
        </div>

        <!-- Modal Adicionar Usuário -->
        <div class="modal fade" id="modalAdicionarUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Gerenciar Usuários</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="formUser">
                  <div class="mb-3">
                    <label for="inputId" class="form-label">ID</label>
                    <input type="text" class="form-control" id="inputId" required disabled>
                  </div>
                  <div class="mb-3">
                    <label for="inputNome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="inputNome" required>
                  </div>
                  <div class="mb-3">
                    <label for="inputFone" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="inputFone" required>
                  </div>
                </form>
              </div>
              <div class="modal-footer mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="gravarDadosUser()">Salvar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Tabela de Usuários -->
        <div class="mt-4">
          <table class="table table-striped" id="tabelaUsuarios">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/usuario.js"></script>

